<div id= "post-{{id}}" class="bor-index">

    <img src= "{{thumbnail}}" alt="Missing iMage">
    <div >
        <p class="neonText">{{title}}</p>
        <p class="neonText">{{description}}</p>
        <a href="/post/{{id}}" class= "neonText">Post details</a>
    </div>
</div>