<div class="site-content">
    <header>
        <h1 class="neonText">View n' The Post</h1>
    </header>



    <section>
        {{!-- <header>
            <h2 class="neonText">Post:</h2>
        </header> --}}

        <img class="image " src="/{{currentPost.photopath}}" alt="Nothing here I guess">

        <br>
        <h2 class="neonText">Description</h2>

        <p class="neonText"><strong>{{currentPost.description}}</strong></p>
    </section>
<button></button>

</div>

<div class="lsite-sidebar">
    <section>
        <header>
            <h2 class="neonText">Post Title:</h2>
        </header>
        <p class="neonText"><strong>{{currentPost.title}}</strong></p>
    </section>

    <section>
        <header>
            <h2 class="neonText">Post Author:</h2>
        </header>
        <p class="neonText"><strong>{{currentPost.username}}</strong></p>
    </section>

    <section>
        <header>
            <h2 class="neonText">Time of creation:</h2>
        </header>
        <div class="neonText">
            <span class="date-posted">
                {{currentPost.created}}
            </span>
        </div>


    </section>
    <section>


        <label for="">Comment</label>
        <br />
        <textarea id="comment-box-text" placeholder="--Want to Write something--" rows="5" cols="40"></textarea>
        <button style="font-size:24px"><i id="comment-box-button" class="fa fa-comments-o"></i></button>

        <div class=" bor comment-container">
            <div id="comment-section" class="comment-section">

                {{#each currentPost.comments}}
                {{> comment}}
                {{/each}}
            </div>

        </div>

    </section>
</div>







<script>
    document.addEventListener("DOMContentLoaded", (event) => {
        document.querySelectorAll('span[class=date-posted]').forEach((postedDate) => {
            postedDate.textContent = new Date(postedDate.textContent).toLocaleString();
        });
    });


    function addMessage(data) {
        let template = document.createElement('template');
        template.innerHTML =
            `<div id="message-${data.commentId}" class="neonText comment">
                <strong class="author-text">@${data.username}</strong>
                <span class="date-posted">${new Date().toLocaleString()}</span>
                <div class="comment-text">${data.comment}</div>
            </div>`;

        document.getElementById('comment-section').firstChild.before(template.content.firstChild)
    }

    document.getElementById('comment-box-button').onclick = (event) => {

        let commentText = document.getElementById('comment-box-text').value;

        let postId = document.location.pathname.match(/\d+/g).map(Number)[0];
        if (!commentText) {
            return;
        } else {

            let fetchOptions = {

                method: "POST",
                headers: {
                    "Content-Type": "Application/json"
                },
                body: JSON.stringify({
                    comment: commentText,
                    postId: postId
                })
            }
            fetch('/comments/create', fetchOptions)
                .then((response) => response.json())
                .then((data) => {
                    if (data.code == 1) {
                        addMessage(data);
                        
                    } else {
                        addFlashFromFrontEnd(data.message, data.status)
                    }
                })
                .catch(err => console.log(err));
                
                document.getElementById('comment-box-text').value = "";
                

        }
    }

</script>